<h3>Employee Management Page </h3>
<br />
<br />
<p>This page catntain the read ,update,create and delete employee records..</p>


<div *ngIf="!empList">
  Loding....
</div>

<div>
  <button type="button" [routerLink]="['/Create-Employee']">New Employee</button>
</div>
<table *ngIf="empList" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>PhoneNo</th>
      <th>Email</th>
      <th>Country</th>
      <th>State</th>
      <th>District</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.phoneNo}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.country}}</td>
      <td>{{emp.state}}</td>
      <td>{{emp.district}}</td>
      <td><button type="button" [routerLink]="['/Update-Employee',emp.id]">Edit</button></td>
      <td><button type="button" [routerLink]="['/Delete-Employee',emp.id]">Delete</button></td>
    </tr>
  </tbody>
</table>
<br />
